{% extends 'logged_layout.html' %}

{% block title %} HPC&amp;A IoT - Application Settings {% endblock %}

{% block location %} 
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/applications">Applications</a>
<p class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"> &nbsp;-&nbsp; </p>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/application/{{ app[1] }}">{{ app[0] }}</a> 
{% endblock %}

{% block body %}
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Application Settings</h3>
            </div>
            <div class="card-body">
		<form action="/application/{{ app[1] }}/settings" method="post" id="appsettings">
			<div class="form-group">
				<label>Name:</label><br>
				<input type="text" maxlength="30" class="form-control" id="appname" name="appname" value="{{ app[0] }}" required><br>
			</div>
			<div class="form-group">
				<label>Description:</label><br>
				<textarea id="appdesc" maxlength="200" class="form-control" name="appdesc" rows="5"></textarea>
			</div>
			<br>
			<div class="custom-control custom-control-alternative custom-checkbox">
			  <input class="custom-control-input" id="secure" type="checkbox" name="secure" {% if app[4] %} checked {% endif %}>
			  <label class="custom-control-label" for="secure">
			    <span class="text-muted">Secure</span>
			  </label>
			</div>
			<br>
			<p> Note, if you use secure option, make sure your device uses aes128 ctr with the corresponding key.</p>
			
			<br>
		</form>
             	<div class="row" style="margin-top: 30px;">
                  	<div class="col-lg-3">
				<button type="submit" form="appsettings" class="btn btn-primary btn-block">Save</button>
               		</div>
               <div class="col-lg-3">
               </div>
               <div class="col-lg-3">
               </div>
               <div class="col-lg-3">
               <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">Delete</button>
               <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  	<div class="modal-dialog">
                    		<div class="modal-content">
                      			<div class="modal-header">
                        			<h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          				<span aria-hidden="true">&times;</span>
                        			</button>
                      			</div>
                      			<div class="modal-body">
                        			This action will remove permanently the application and all its devices with their corresponding data.
                      			</div>
                      		<div class="modal-footer">
                        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a href="/application/{{ app[1] }}/delete"><button type="button" class="btn btn-danger">Delete Application</button></a>
                      	</div>
		</div>
                  </div>
                </div>
               </div>

              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	document.getElementById("appdesc").value = "{{ app[3] }}";
</script>
{% endblock %}
