{% extends 'logged_layout.html' %}

{% block title %} Users - HPC&amp;A IoT {% endblock %}

{% block header %} 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
{% endblock %}

{% block location %} 
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/administration">Administration</a> 
<p class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"> &nbsp;-&nbsp; </p>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/administration/users">Users</a> 
{% endblock %}

{% block stats %}
<!-- Header -->
          <div class="row">
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Users</h5>
		      <span class="h2 font-weight-bold mb-0">{{ info[0] }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Applications</h5>
		      <span class="h2 font-weight-bold mb-0">{{ info[1] }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Devices</h5>
		      <span class="h2 font-weight-bold mb-0">{{ info[2] }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	  {% endblock %}

{% block body %}
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Users</h3>
            </div>
            <div class="card-body">
		{% if users %}
		<div class="col-md-8 offset-md-2" style="margin-bottom: 20px;">
			<form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto">
			  <div class="form-group mb-0">
			    <div class="input-group input-group-alternative">
			      <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-search"></i></span>
			      </div>
			      <input class="form-control" placeholder="Search" type="text" id="filter_name" name="filter_name" onkeyup="return users_update();">
			    </div>
			  </div>
			</form>
		</div>
		<table class="table table-hover">
			<thead>
				<th> Name </th>
				<th> Role </th>
			</thead>
			<tbody id="users_body">
				{% for u in users %}
				<tr onclick="window.location='/administration/users/{{ u[0] }}';">
					<th> {{ u[0] }} </th>
					<th> {{ u[2] }} </th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<center><a href="javascript:void(0);" onclick="return table_load_more();">Load more</a></center>
		{% endif %}
            </div>
	    <div class="card-body">
                <div class="col-lg-4">
			<a href="/administration/users/new-user"><button class="btn btn-primary" type="submit">New User</button></a>
		</div>
            </div>


          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	var next_page = 2;
	function users_update() {
		$.ajax({
			url:"/administration/users/table/1?name="+$("#filter_name").val(),
			type:"get",
			success: function(data) {
				data = eval(data);
				$("#users_body").empty();
				data.forEach(function (entry) {
					str = "<tr onclick=window.location=\"/administration/users/"+entry[0]+"\"><th>"+entry[0]+"</th>"+"<th>"+entry[1]+"</th></tr>";
					$("#users_body").append(unescape(str));
				});
			}
		});
	}
	function table_load_more() {
		$.ajax({
			url:"/administration/users/table/"+next_page+"?name="+$("#filter_name").val(),
			type:"get",
			success: function(data) {
				data = eval(data);
				data.forEach(function (entry) {
					str = "<tr onclick=window.location=\"/administration/users/"+entry[0]+"\"><th>"+entry[0]+"</th>"+"<th>"+entry[1]+"</th></tr>";
					$("#users_body").append(unescape(str));
				});
				next_page++;
			}
		});
	}
</script>
{% endblock %}
