{% extends 'layout.html' %}

{% block title %} Device Data: {% endblock %}

{% block head %}
	{% if data %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
      	google.charts.setOnLoadCallback(drawChart);

      	function drawChart() {
        	var data = google.visualization.arrayToDataTable([
          		['Timestamp', 'Data'],
			{% for d in data %}
			['{{ d[1] }}', {{ d[2]['hih8121_h_mkr'] }}],
			{% endfor %}
		]);

        	var options = {
			title: 'ESP32 Data',
          		curveType: 'function',
			hAxis: { format: 'long' },
			legend: { position: 'none' }
        	};

        	var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        	chart.draw(data, options);
      	}
	</script>
	{% endif %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		<div class="clickback">
			<span class="glyphicon glyphicon-arrow-left"></span>	
			<p><a class="backlink" onclick="history.back(-1)"></a></p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h2><center> {{ devname }} data </center></h2>
			</div>
			<div class="panel-body">
				{% if data %}
				<div class="tab">
					<button class="tablinks" onclick="display_data(event, )">Dataum 1</button>
					<button class="tablinks" onclick="test()">Dataum 2</button>
					<button class="tablinks" onclick="test()">Dataum 3</button>
					<button class="tablinks" onclick="test()">Dataum 4</button>
				</div>

				<div id="curve_chart" style="height: 600px;"></div>

				<table class="table">
					<thead>
						<th>Time</th>
						<th>Content</th>
					</thead>
					<tbody>
					{% for d in data %}
						<tr>
							<th> {{ d[1] }} </th>
							<th>
							{% for k in d[2] %}
							{{ k }} : {{ d[2][k] }} <br>
							{% endfor %}
							</th>
						</tr>
					{% endfor %}
					</tbody>
				</table>

				<p>Total: <strong>{{ total }}</strong> messages.</p>
				<center>	
				<nav aria-label="Page navigation">
					<ul class="pagination">
						{% if pp %}
						<li>
						{% else %}
						<li class="disabled">
						{% endif %}
							<a href="/dev-data?p={{ pp }}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						{% for i in range(pr[0],pr[1]) %}
							{% if i == cp %}
							<li class="active">
								<a href="/dev-data?p={{ i }}"> 
									{{ i }} 
									<span class="sr-only">(current)</span>
								</a>
							</li>
							{% else %}
							<li>
								<a href="/dev-data?p={{ i }}"> {{ i }} </a>
							</li>
							{% endif %}
						{% endfor %}

						{% if np %}
						<li>
						{% else %}
						<li class="disabled">
						{% endif %}
							<a href="/dev-data?p={{ np }}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
				</center>
				<br>
				<center>
				<a href="/data-csv"><button type="submit" class="btn btn-primary">Download CSV</button></a>
				</center>
				{% else %}
				<h3><center>Device have not sent any data yet.</center></h3>
				{% endif %}
	</div>
</div>

{% endblock %}

