{% extends 'logged_layout.html' %}

{% block title %} Administration - Gateway - {{ gw['id'] }} - Settings - HPC&amp;A IoT {% endblock %}

{% block header %} 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
{% endblock %}

{% block location %} 
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/administration">Administration</a>
<p class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"> &nbsp;-&nbsp; </p>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/administration/gateway/{{ gw['id'] }}">{{ gw['name'] }}</a> 
<p class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"> &nbsp;-&nbsp; </p>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/administration/gateway/{{ gw['id'] }}/settings">Settings</a> 
{% endblock %}

{% block body %}
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Gateway Settings</h3>
            </div>
            <div class="card-body">
		<form action="/administration/gateway/{{ gw['id'] }}/settings" method="post" id="gwsettings">
			<div class="form-group">
				<label>Name:</label><br>
				<input type="text" maxlength="30" class="form-control" id="gwname" name="gwname" value="{{ gw['name'] }}" required><br>
			</div>
			<div class="form-group">
				<label>ID:</label><br>
				<input type="text" maxlength="30" class="form-control" id="gwid" name="gwid" value="{{ gw['id'] }}" required><br>
			</div>
			<div class="form-group">
				<label>Protocol:</label><br>
				<select class="form-control" id="gwprotocol" name="gwprotocol">
					{% for k,v in protocols.items() %}
					<option value="{{ k }}" {% if k == gw['protocol'] %} selected {% endif %}>{{ v }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label>Description:</label><br>
				<textarea id="gwdesc" maxlength="200" class="form-control" name="gwdesc" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label>Telemetry Send Frequency (seconds):</label><br>
				<input type="number" min="1" class="form-control" id="gwtelemetry" name="gwtelemetry" value="{{ gw['telemetry_send_freq'] }}" required><br>
			</div>
			<br>
			<br>
		</form>
             	<div class="row" style="margin-top: 30px;">
                  	<div class="col-lg-3">
				<button type="submit" form="gwsettings" class="btn btn-primary btn-block">Save</button>
               		</div>
               <div class="col-lg-3">
               </div>
               <div class="col-lg-3">
               </div>
               <div class="col-lg-3">
               <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">Delete</button>
               <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  	<div class="modal-dialog">
                    		<div class="modal-content">
                      			<div class="modal-header">
                        			<h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          				<span aria-hidden="true">&times;</span>
                        			</button>
                      			</div>
                      			<div class="modal-body">
                        			This action will remove permanently the gateway.
                      			</div>
                      		<div class="modal-footer">
                        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" onclick="gateway_delete({{ gw['id'] }})" class="btn btn-danger">Delete Gateway</button>
                      	</div>
		</div>
                  </div>
                </div>
               </div>

              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	document.getElementById("gwdesc").value = "{{ gw['description'] }}";

	function gateway_delete(gwid) {
		$.ajax({
			url:"/administration/gateway/"+gwid+"/delete",
			type:"DELETE",
			success: function() {
				console.log("success");
				window.location.href = "/administration/gateways";
			}
		});
	}
</script>
{% endblock %}
