{% extends 'logged_layout.html' %}

{% block title %} Administration - New User - HPC&amp;A IoT {% endblock %}

{% block location %} 
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/applications">Applications</a> 
<p class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"> &nbsp;-&nbsp; </p>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/administration/users">Users</a> 
{% endblock %}

{% block body %}
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">New User</h3>
            </div>
            <div class="card-body">
	      <form action="/administration/new-user" method="post">
			<div class="form-group">
				<label>Name:</label><br>
				<input type="text" maxlength="30" class="form-control" id="username" name="username" required>
			</div>
			<br>
			<div class="form-group">
				<label for="role"> Role: </label>
				<select class="form-control" id="role" name="role">
					<option> interface </option>
					<option> user </option>
					<option> admin </option>
				</select>
			</div>
			<br>
			<div class="form-group">
				<label>Password:</label><br>
                    		<input class="form-control" placeholder="Password" type="password" minlength="8" id="password" name="password" onkeyup="return validate_password();">
				<br>
				<input class="form-control" placeholder="Repeat password" type="password" minlength="8" id="rpassword" name="rpassword" onkeyup="return validate_password();">
			</div>
			<div class="text-muted font-italic"><small>Required password strength: <span class="text-success font-weight-700">At least 8 characters.</span></small></div>
			<div class="text-muted font-italic"><small id="passvalidation"></small></div>
			<br><br>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Create User</button>
			</div>
		</form>

            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    var password = document.getElementById("password");
    var rpassword = document.getElementById("rpassword");
    $("#submit").prop("disabled", true);

    function validate_password() {
      if (password.value != rpassword.value) {
        $("#passvalidation").html("<span class='text-danger font-weight-700'>Passwords do not match.</span>");
        $("#submit").prop("disabled", true);
      } else {
        $("#passvalidation").html("<span class='text-success font-weight-700'>Passwords match.</span>");
        $("#submit").prop("disabled", false);
      }
    }
  </script>
{% endblock %}
