{% extends 'layout.html' %}

{% block title %} Configure Device: {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2> Configure Device: {{ devname }} </h2>
		<br><br>
		<form action="dev-conf" method="post">
			<div class="form-group">
				<label>Config ID:</label><br>
				<input type="number" size="3" min="0" max="255" class="form-control" id="confid" name="confid" required></textarea>
			</div>
			<br>
			<div class="form-group">
				<label>Argument:</label><br>
				<textarea type="text" maxlength="50" class="form-control" id="arg" name="arg" rows="2" reqiured></textarea>
			</div>
			<br><br>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Configure</button>
			</div>

			{% if feedback %}
			<p class="text-danger float-right">{{ feedback }}</p>
			{% endif %}
		</form>
		<br>
		{% if config_list %}
		<div>
			<table class="table">
				<thead>
					<th> Config ID </th>
					<th> Arguments </th>
					<th> Acknowledged </th>
					<th> </th>
				</thead>
				<tbody>
					{% for c in config_list %}
					{% if c[2] %}
					<tr class="success">
					{% else %}
					<tr class="warning">
					{% endif %}
						<th> {{ c[0] }} </th>
						<th> {{ c[1] }} </th>
						<th> {{ c[2] }} </th>
						<th> <a href="/dev-conf-rm?conf={{ c[3] }}"> <span class="glyphicon glyphicon-remove"</span> </a> </th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<center> No configuration messages. </center>
		{% endif %}
	</div>
</div>

{% endblock %}

