{% extends 'layout.html' %}

{% block title %} Device Data: {% endblock %}

{% block head %}
	{% if data %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatabs.css') }}"/>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	{% endif %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-1">
		<div class="clickback">
			<span class="glyphicon glyphicon-arrow-left glyphicon-pagenav"></span>	
			<p><a class="backlink" onclick="history.back(-1)"></a></p>
		</div>
	</div>
	<div class="col-md-10">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h2><center> {{ devname }} data </center></h2>
			</div>	
			<div class="panel-body">
				{% if data %}
				<div class="tab">
				{% for k in data[0][2] %}
				<button class="tablinks" onclick="display_data(event, '{{ k }}')" id="tab_{{ k }}"> {{ k }} </button>
				{% endfor %}
				</div>
				
				{% for k in data[0][2] %}
				<div id="{{ k }}" class="tabcontent">
					<center><div id="curve_chart_{{ k }}"></div></center>
					<!--
					<div>
					<div style="float:left;">
						<span class="glyphicon glyphicon-arrow-left glyphicon-graphnav"></span>	
					</div>
					<div style="float:right;">
						<span class="glyphicon glyphicon-arrow-right glyphicon-graphnav"></span>	
					</div>
					</div>
					<br><br>
					-->
					<center>
					<p>Total: <strong>{{ total }}</strong> messages.
					</p>
					<a href="/data-csv"><button type="submit" class="btn btn-primary">Download CSV</button></a>
					</center>
					<br>

					<table class="table" id="table_{{ k }}">
						<thead>
							<th> Time </th>
							<th> {{ k }} </th>
						</thead>
						<tbody id="table_{{ k }}_body">
						</tbody>
					</table>
				</div>
				{% endfor %}
				{% else %}
				<h3><center>Device have not sent any data yet.</center></h3>
				{% endif %}
	</div>
</div>

{% if data %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});

	function init_scroll() {
		var ts = {
			{% for k in data[0][2] %}
			{{ k }} : 1,
			{% endfor %}
		};
		return ts;
	}

	var tscroll = init_scroll();
     
	function drawChart(dname, ddata) {
		var data = google.visualization.arrayToDataTable(ddata);

		var options = {
			title: '{{ devname }} > '+dname,
          		curveType: 'function',
			hAxis: { 
				format: 'dd/MM hh:mm'
			},
			vAxis: {
				format: 'decimal',
				scaleType: 'linear',
				textPosition: 'out'
			},
			legend: { position: 'none' },
			height: 600,
			width: 900,
			// interpolateNulls: true,
			chartArea: { left: '5%', width: '90%', height: '80%' }
        	};

		var container = document.getElementById('curve_chart_'+dname);
		var chart = new google.visualization.LineChart(container);
		chart.draw(data, options);
	}

	function display_data(evt, dname) {
  		// Declare all variables
  		var i, tabcontent, tablinks;

  		// Get all elements with class="tabcontent" and hide them
  		tabcontent = document.getElementsByClassName("tabcontent");
  		for (i = 0; i < tabcontent.length; i++) {
    			tabcontent[i].style.display = "none";
  		}

  		// Get all elements with class="tablinks" and remove the class "active"
  		tablinks = document.getElementsByClassName("tablinks");
  		for (i = 0; i < tablinks.length; i++) {
    			tablinks[i].className = tablinks[i].className.replace(" active", "");
  		}

  		// Show the current tab, and add an "active" class to the button that opened the tab
  		document.getElementById(dname).style.display = "block";
  		evt.currentTarget.className += " active";

		tscroll = init_scroll();

		fetch(window.origin+'/dev-data/'+dname+'/graph/1').then(res => res.text()).then(data => drawChart(dname, eval(data)));
		fetch(window.origin+'/dev-data/'+dname+'/table/'+tscroll[dname]).then(res => res.text()).then(data => $('#table_'+dname+'_body').html(data));
	
		
		window.onscroll = function (ev) {
			if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
				tscroll[dname] += 1;
				fetch(window.origin+'/dev-data/'+dname+'/table/'+tscroll[dname]).then(res => res.text()).then(data => $('#table_'+dname+'_body').append(data));
			}
		};
	}

	document.getElementById("tab_{{ data[0][2] | first }}").click();
</script>
{% endif %}

{% endblock %}

