{% extends 'layout.html' %}

{% block title %} Create application: {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		<div class="clickback">
			<span class="glyphicon glyphicon-arrow-left"></span>	
			<p><a class="backlink" onclick="history.back(-1)"></a></p>
		</div>
	</div>
	<div class="col-md-6">
		<h2> New Application </h2>
		<br><br>
		<form action="app" method="post">
			<div class="form-group">
				<label>Name:</label><br>
				<input type="text" maxlength="30" class="form-control" id="appname" name="appname" required><br>
			</div>
			<div class="form-group">
				<label>Description:</label><br>
				<textarea id="appdesc" maxlength="200" class="form-control" name="appdesc" rows="5"></textarea>
			</div>
			<br>
				<table class="table">
					<tr>
						<td>
				<label for="secure">Secure:</label>
						</td>
						<td>
				<input type="checkbox" class="form-control" id="secure" name="secure" value="true">
						</td>
					</tr>
				</table>
				<p> Note, if you use secure option, make sure your device uses aes128 ctr with the corresponding key.</p>
			
			<br>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Create Application</button>
			</div>

			{% if feedback %}
			<p class="text-danger float-right">{{ feedback }}</p>
			{% endif %}
		</form>
	</div>
</div>

{% endblock %}

