{% extends 'logged_layout.html' %}

{% block title %} HPC&amp;A IoT - Map {% endblock %}

{% block header %} 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
{% endblock %}

{% block location %} 
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/map">Map</a>
{% endblock %}

{% block stats %}
<!-- Card stats -->
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
	<div class="card-body">
	  <div class="row">
	    <div class="col">
	      <h5 class="card-title text-uppercase text-muted mb-0">Created Apps</h5>
	      <span class="h2 font-weight-bold mb-0">{{ info[0] }}</span>
	    </div>
	    <div class="col-auto">
	      <div class="icon icon-shape bg-success text-white rounded-circle shadow">
		<i class="fas fa-cubes"></i>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
	<div class="card-body">
	  <div class="row">
	    <div class="col">
	      <h5 class="card-title text-uppercase text-muted mb-0">Active Devices</h5>
	      <span class="h2 font-weight-bold mb-0">{{ info[1] }}</span>
	    </div>
	    <div class="col-auto">
	      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
		<i class="fas fa-microchip"></i>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
	<div class="card-body">
	  <div class="row">
	    <div class="col">
	      <h5 class="card-title text-uppercase text-muted mb-0">Total Activity</h5>
	      <span class="h2 font-weight-bold mb-0">{{ info[2] }}</span>
	    </div>
	    <div class="col-auto">
	      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
		<i class="fas fa-area-chart"></i>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
	<div class="card-body">
	  <div class="row">
	    <div class="col">
	      <h5 class="card-title text-uppercase text-muted mb-0">Last 24 Hours Activity</h5>
	      <span class="h2 font-weight-bold mb-0">{{ info[3] }}</span>
	    </div>
	    <div class="col-auto">
	      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
		<i class="fas fa-line-chart"></i>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow border-0">
          	<div id="map" class="map" style="height: 600px;"></div>
	  </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin="">
</script>
<script type="text/javascript">
	var devslocs = JSON.parse('{{ devslocs | safe }}');
	var devmap = L.map('map').setView([50, 50], 2);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	    maxZoom: 18
	}).addTo(devmap);

	Object.entries(devslocs).forEach(([appkey, devdata]) => {
		applink = "/application/" + appkey;
		Object.entries(devdata).forEach(([devid, data]) => {
			devlink = applink + "/device/" + devid;
			var devmarker = L.marker([data["lat"],data["lon"]]).addTo(devmap);
			var popuptxt = "<b> Application: <a href='"+applink+"'>"+data["appname"] + "</a></b><br>";
			popuptxt += "<b> Device: <a href='"+devlink+"'>"+data["devname"] + "</a></b><br>";
			var dateutc = new Date(data["utc"]*1000);
			popuptxt += "<b>Timestamp: </b>"+dateutc.toString();
			devmarker.bindPopup(popuptxt).openPopup();
		});
	});
	
</script>
{% endblock %}
