{% extends 'layout.html' %}

{% block title %} Configure Device: {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p> Device name : {{ devname }}
		<form action="dev-conf" method="post">
			<div class="form-group">
				<label>Config ID:</label><br>
				<input type="text" id="confid" name="confid"><br>
			</div>
			<div class="form-group">
				<label>Argument:</label><br>
				<input type="text" id="arg" name="arg"><br>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Configure</button>
			</div>

			{% if feedback %}
			<p class="text-danger float-right">{{ feedback }}</p>
			{% endif %}
		</form>
	</div>
</div>

{% endblock %}

