{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2> Welcome, {{session['name']}}! </h2>
		{% if session['name'] %}
		<br>
		<h4> Explore your applications or create a new one. </h4>
		{% if apps %}
		<br>
		<ol class="list-group">
			{% for app in apps %}
			<a href="/app?appkey={{ app[1] }}"><li class="list-group-item"><strong> {{ app[0] }} </strong></li></a>
			{% endfor %}
		</ol>
		{% endif %}
		<br>
		<a href="/new-app"><button class="btn btn-primary" type="submit">New Application</button></a>
		{% else %}
		<p>Log in, please</p>
		{% endif %}
		{% if feedback %}
		<p class="text-danger float-right"> {{ feedback }} </p>	
		{% endif %}
	</div>
</div>

{% endblock %}
