{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2> Welcome, {{session['name']}}! </h2>
		{% if session['name'] %}
		<h4> Explore your applications or create a new one. </h4>
		<ol>
			{% for app in apps %}
			<li><a href="/app?appkey={{ app[1] }}"> {{ app[0] }} </a></li>
			{% endfor %}
		</ol>
		<a href="/new-app"><button class="btn btn-primary" type="submit">New Application</button></a>
		{% else %}
		<p>Log in, please</p>
		{% endif %}
		{% if feedback %}
		<p class="text-danger float-right"> {{ feedback }} </p>	
		{% endif %}
	</div>
</div>

{% endblock %}
